## Class 7  
### mixing and matching data - joining, merging

In [1]:
# Analysis modules
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
### concatening multiple data files with same structure.
Example a folder of time series, or individual RNA-Seq outputs
May need to add column with file name

In [ ]:
### scraping websites

In [27]:
# Downloading contents of the web page
url = "https://www.climatestotravel.com/climate/greenland"
data = requests.get(url).text

# Creating BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

In [29]:
# Verifying tables and their classes
for table in soup.find_all('table'):
    print(table.get('class'))

['cities']
['precipit']
['sole']
['mare']
['cities']
['precipit']
['sole']
['mare']
['cities']
['precipit']
['sole']
['cities']

In [30]:
# Creating list with all tables
tables = soup.find_all('table')

#  Looking for the table with the classes 'wikitable' and 'sortable'
table = soup.find('table', class_='wikitable sortable')

How many tables do we find on that website?

In [21]:
len(all_tables)

12

In [20]:
all_tables[0]

<table class="cities"><caption>Ilulissat - Average temperatures (1991-2020) </caption><colgroup><col/><col class="celsius" span="3"/><col class="fahrenheit" span="3"/></colgroup><tr class="title-table-new"><th scope="col">Month</th><th scope="col" title="Average low temperatures (degrees Celsius)">Min (°C)</th><th scope="col" title="Average high temperatures (degrees Celsius)">Max (°C)</th><th scope="col" title="Average daily temperature (degrees Celsius)">Mean (°C)</th><th scope="col" title="Average low temperatures (degrees Fahrenheit)">Min (°F)</th><th scope="col" title="Average high temperatures (degrees Fahrenheit)">Max (°F)</th><th scope="col" title="Average daily temperature (degrees Fahrenheit)">Mean (°F)</th></tr><tr class="min-table"><th scope="row" title="January">January</th><td>-16.2</td><td>-9.2</td><td>-12.7</td><td>3</td><td>15</td><td>9.1</td></tr><tr class="min-table"><th scope="row" title="February">February</th><td>-18.8</td><td>-11.4</td><td>-15.1</td><td>-2</td><td>11</td><td>4.8</td></tr><tr class="min-table"><th scope="row" title="March">March</th><td>-18.8</td><td>-11</td><td>-14.9</td><td>-2</td><td>12</td><td>5.2</td></tr><tr class="min-table"><th scope="row" title="April">April</th><td>-11.6</td><td>-4.1</td><td>-7.8</td><td>11</td><td>25</td><td>17.9</td></tr><tr class="min-table"><th scope="row" title="May">May</th><td>-3.2</td><td>2.9</td><td>-0.2</td><td>26</td><td>37</td><td>31.7</td></tr><tr class="min-table"><th scope="row" title="June">June</th><td>2.8</td><td>9</td><td>5.9</td><td>37</td><td>48</td><td>42.6</td></tr><tr class="min-table"><th scope="row" title="July">July</th><td>5</td><td>11.5</td><td>8.2</td><td>41</td><td>53</td><td>46.8</td></tr><tr class="min-table"><th scope="row" title="August">August</th><td>3.3</td><td>9.8</td><td>6.6</td><td>38</td><td>50</td><td>43.8</td></tr><tr class="min-table"><th scope="row" title="September">September</th><td>-0.3</td><td>5.3</td><td>2.5</td><td>31</td><td>42</td><td>36.5</td></tr><tr class="min-table"><th scope="row" title="October">October</th><td>-5.7</td><td>-0.2</td><td>-3</td><td>22</td><td>32</td><td>26.7</td></tr><tr class="min-table"><th scope="row" title="November">November</th><td>-10.2</td><td>-4</td><td>-7.1</td><td>14</td><td>25</td><td>19.2</td></tr><tr class="min-table"><th scope="row" title="December">December</th><td>-12.7</td><td>-6.3</td><td>-9.5</td><td>9</td><td>21</td><td>14.9</td></tr><tr class="min-table"><th scope="row" title="Year">Year</th><td>-7.1</td><td>-0.6</td><td>-3.85</td><td>19.2</td><td>31</td><td>25</td></tr></table>

In [24]:
table1 = all_tables[0]

In [25]:
for tr in table1.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    print('{:<30}{:<20}{:<10}'.format(tds[0], tds[3], tds[5]))

-16.2                         3                   9.1
-18.8                         -2                  4.8
-18.8                         -2                  5.2
-11.6                         11                  17.9
-3.2                          26                  31.7
2.8                           37                  42.6
5                             41                  46.8
3.3                           38                  43.8
-0.3                          31                  36.5
-5.7                          22                  26.7
-10.2                         14                  19.2
-12.7                         9                   14.9
-7.1                          19.2                25

In [ ]:
tables = soup.find_all("table")  # returns a list of tables
second_table = tables[1]

In [13]:
url='https://www.climatestotravel.com/climate/greenland'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)

In [14]:
#Store the contents of the website under doc
doc = lh.fromstring(page.content)

In [15]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//table')

In [16]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[16, 15, 41, 41, 16, 15, 41, 41, 16, 15, 41, 16]

### merging duplicate lines

In [ ]:
list_common_names = (names.groupby(scientific name").apply(lambda x: ",".join(x['common name'])).to_frame('common name').reset_index()0)