### Cleaning, tidying and re-arranging your data

Practice with a real data set

In [3]:
# Analysis modules
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

### Exploring

Crop production worldwide for a huge range of crops is available here:

    https://www.fao.org/faostat/en/#data/QCL
        
Download the data for blueberries from North and South America, Europe, Africa and total world production

In [49]:
df = pd.read_csv('../Datasets/FAOSTAT_data_blueberries.csv')

In [50]:
df.head(3)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,10,Australia,5312,Area harvested,552,Blueberries,1991,1991,ha,202.0,Im,FAO data based on imputation methodology
1,QCL,Crops and livestock products,10,Australia,5312,Area harvested,552,Blueberries,1992,1992,ha,212.0,Im,FAO data based on imputation methodology
2,QCL,Crops and livestock products,10,Australia,5312,Area harvested,552,Blueberries,1993,1993,ha,NaN,M,Data not available

In [51]:
df.shape

(3641, 14)

In [52]:
df.columns.values

array(['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code',
       'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'], dtype=object)

The "Element" and "Unit" columns are labels for the "Values"

In [57]:
df["Element"].unique()

array(['Area harvested', 'Yield', 'Production'], dtype=object)

In [56]:
df["Unit"].unique()

array(['ha', 'hg/ha', 'tonnes'], dtype=object)

There is lots of rubbish here we don't need.  
We can make a new dataframe from selected columns:

In [58]:
bb = df[['Area', 'Year','Element', 'Unit','Value']]

or drop columns from the dataframe

In [54]:
bb = df.drop(columns=['Domain Code', 'Domain', 'Area Code (FAO)', 'Element Code', 'Item Code (FAO)', 'Item', 'Year Code', 'Flag', 'Flag Description'])

In [59]:
bb.head(3)

        Area  Year         Element Unit  Value
0  Australia  1991  Area harvested   ha  202.0
1  Australia  1992  Area harvested   ha  212.0
2  Australia  1993  Area harvested   ha    NaN

Let's look first at the hectares of land cropped for blueberries.  We'll subset the dataframe to get just the rows with 'Area harvested' in the 'Element' column.

In [61]:
bb_land = bb[bb["Element"]=='Area harvested']

Value is a bit ambiguous.   We'll rename it hectares

In [62]:
bb_land = bb_land.rename(columns = {'Value':'Hectares'}, errors="raise")

#### Transforming data

Let's convert hectares to the international unit of measurement of the size of Wales (or football pitches).  
Wales is 2.0779 Million hecatares  
A hectares is 1.86 Football pitches

In [30]:
bb_land["Wales"] = bb_land["Hectares"]/2077900_land

In [31]:
bb_land["Pitches"] = bb_land["Hectares"]*1.86

In [63]:
bb_land.head(3)

        Area  Year         Element Unit  Hectares
0  Australia  1991  Area harvested   ha     202.0
1  Australia  1992  Area harvested   ha     212.0
2  Australia  1993  Area harvested   ha       NaN

In [65]:
bb_land["Region"] = bb_land["Area"]*12

In [66]:
bb_land.head(3)

,Area,Year,Element,Unit,Hectares,Region
0,Australia,1991,Area harvested,ha,202.0,AustraliaAustraliaAustraliaAustraliaAustraliaA...
1,Australia,1992,Area harvested,ha,212.0,AustraliaAustraliaAustraliaAustraliaAustraliaA...
2,Australia,1993,Area harvested,ha,NaN,AustraliaAustraliaAustraliaAustraliaAustraliaA...

Tidying that up...

In [67]:
bb_land.drop(columns=['Region'], inplace=True)
bb_land.head(3)

        Area  Year         Element Unit  Hectares
0  Australia  1991  Area harvested   ha     202.0
1  Australia  1992  Area harvested   ha     212.0
2  Australia  1993  Area harvested   ha       NaN

Which regions do we have?

In [101]:
bb["Area"].unique()

array(['Australia', 'Austria', 'Belgium', 'Bulgaria', 'Canada', 'China',
       'China, Taiwan Province of', 'Croatia', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Italy',
       'Japan', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Malta', 'Mexico',
       'Morocco', 'Netherlands', 'New Zealand', 'Norway', 'Peru',
       'Poland', 'Portugal', 'Romania', 'Russian Federation', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United States of America', 'USSR', 'Uzbekistan'], dtype=object)

### Lamba functions for transforming data

In [ ]:
df.rename(index=lambda s: 'Field_' + str(s))

### Subsetting by Column

### Subsetting by Row

### Conditional Subsetting

### Re-arranging  
You have already transformed a dataframe, but oftern much bigger changes are needed.  
switching between Long form and wide form

### Group by

In [ ]:
### Heirarchical indexing

#### Melting and pivoting